body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; 
  font-size: 16px;
  background: #0ca1e3;
}

h1 {
  background: #7b7b7b;
  color: #0ca1e3;
  font-size: 2.618em;
  font-family: sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0.618em;
  text-align: center;
}

ul {
  list-style: none;
}

#funky_img {
  display: none;
}

#input_blob {
  background: #7b7b7b;
  margin: 0;
  padding: 0.5em;
}

#input_blob p {
  color: #fff;
  font-weight: bold;
}

#input_blob #form {
  width: 28em;
  margin: auto;
}

#calc_baby,
#img_upload_button {
  border: #0ca1e3 solid 0.2em;
  padding: 0.3em; 
  background: #0ca1e3;
  color: #fff;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

#mm_width,
#img_path {
  font-size: 1em;
  padding: 0.4em;
  border: 1px solid gray;
}

#input_blob ol li {
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.618em;
}

#dpi_info:hover,
#dpi_info:active,
#dpi_info:visited,
#dpi_info {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  width: 24em;
  margin: auto;
}

#dpi_info:hover {
  text-decoration: underline;
}

#input_info_short {
  display: none;
}

#input_info_short p {
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  background: #7b7b7b;
  padding: 0.618em;
  margin: 0;
  cursor: pointer;
  border-top: 1px solid #0ca1e3;
  text-align: center;
}

#input_info_short p:hover {
  color: #ddd;
}

#text_blob {
  width: 46.971em;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.2em;
  color: white;
}

#text_blob ul {
  list-style-type: disc;
}

#text_blob a:visited,
#text_blob a {
  color: white;
}

#info_blob {
  display: none;
  background: #0ca1e3;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2.618em;
  color: #fff;
  font-weight: bold;
  overflow: hidden;
  width: 34em;
}

#img_preview {
  float: left;
  width: 12.089em;
  overflow: hidden;
}

#funky_img_small {
  width: 11.089em;
  border: 2px solid #7b7b7b;
  padding: 2px;
  background: #fff;
}

#px {
  padding: 0;
}

#eq {
  float: left;
  font-size: 4.236em;
  margin-right: 0.618em;
  margin-left: 0.618em;
}

#img_quality_result {
  float: left;
  padding: 0;
  margin: 0;
  margin-top: 1.618em;
  font-size: 1.618em;
  margin-bottom: 1.618em;
  width: 6.854em;
  height: 4.236em;
  vertical-align: middle;
}

#img_quality_result p {
  text-align: center;
  padding: 0;
}

#legend_blob {
  display: none;
  background: #0ca1e3;
  margin: 0;
  padding: 1em;
  color: #fff;
}

#legend_blob h2 {
  font-size: 1.618em;
}

#quality {
  overflow: hidden;
}

#quality li {
  float: left;
  margin-right: 1em;
  padding: 0.618em;
  font-weight: bold;
  width: 6.854em;
  text-align: center;
}


.try_again {
  background: #cd3f3f;
}

.not_bad {
  background: #ffcc00;
}

.well_done {
  background: #94c54f;
}

#foo {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-top: 1em;
  overflow: hidden;
}

#foo ol {
  float: right;
  margin: 0;
  margin-right: 1.618em;
  margin-bottom: 0.618em;
  color: white;
  list-style-type: upper-roman;
}

#foo a:visited,
#foo a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

#foo a:hover {
  text-decoration: underline;
}

